button {
    display: block;
    margin: 12px auto;
    background-color: #404040;
    border: none;
    font-size: 24px;
    color : #fff;
    padding: 16px 36px;
    font-weight: 700;
    border-radius: 5px
}

button:hover {
    background-color: #1e1e1e
}

button:active {
    background-color: #1e1e1e
}